# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-win32 atom-text-editor:not(.mini), .platform-linux atom-text-editor:not(.mini) ':
  'f2': 'navigate:forward'
  'f4': 'navigate:forward-new'
  'f3': 'navigate:back'
  'f1': 'navigate:browser'
  'ctrl-f1': 'navigate:browser'
  'ctrl-f2': 'navigate:browser'
  'ctrl-f3': 'navigate:browser'


'.platform-darwin atom-text-editor:not(.mini)':
  'f2': 'navigate:forward'
  'f4': 'navigate:forward-new'
  'f3': 'navigate:back'
  'f1': 'navigate:browser'
  'cmd-f1': 'navigate:browser'
  'cmd-f2': 'navigate:browser'
  'cmd-f3': 'navigate:browser'
